.custom-scroll {
  scrollbar-color: light;
  scrollbar-width: thin;
  scrollbar-color: var(--white) transparent;
}
.custom-scroll::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  height: 7px;
}
.custom-scroll::-webkit-scrollbar-button, .custom-scroll::-webkit-scrollbar-corner {
  display: none;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background-color: transparent;
  min-width: 32px;
  min-height: 32px;
  border-radius: 5px;
}
.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scroll:hover::-webkit-scrollbar-thumb {
  background-color: rgba(var(--white-rgb), 0.25);
}

.container {
  max-width: 1440px;
  padding: 0 9.5rem;
  margin: 0 auto;
}

:root[data-theme=theme-light] {
  --white: #fff;
  --white-rgb: 255, 255, 255;
  --black: #000;
  --black-rgb: 0, 0, 0;
  --primary: #ffffff;
  --primary-rgb: 255, 255, 255;
  --secondary-light: #007bff;
  --secondary-light-rgb: 0, 123, 255;
  --secondary: #007bff;
  --secondary-rgb: 0, 123, 255;
  --secondary-dark: #0056b3;
  --secondary-dark-rgb: 0, 86, 179;
  --tertiary: #000;
  --tertiary-rgb: 0, 0, 0;
  --tertiary-light: #fff;
  --tertiary-light-rgb: 255, 255, 255;
}

:root[data-theme=theme-dark] {
  --white: #fff;
  --white-rgb: 255, 255, 255;
  --black: #000;
  --black-rgb: 0, 0, 0;
  --primary: #191756;
  --primary-rgb: 25, 23, 86;
  --secondary-light: #000000;
  --secondary-light-rgb: 0, 0, 0;
  --secondary: #007bff;
  --secondary-rgb: 0, 123, 255;
  --secondary-dark: #0056b3;
  --secondary-dark-rgb: 0, 86, 179;
  --tertiary: #fff;
  --tertiary-rgb: 255, 255, 255;
  --tertiary-light: #000;
  --tertiary-light-rgb: 0, 0, 0;
}

@font-face {
  font-family: "form";
  font-style: normal;
  font-weight: 400;
  src: local("form"), url("../form/FormaDJRDisplay-Regular.woff") format("woff");
}
@font-face {
  font-family: "form";
  font-style: normal;
  font-weight: 500;
  src: local("form"), url("../form/FormaDJRMicro-Regular.woff2") format("woff");
}
/* Use a more-intuitive box-sizing model. */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding and reset fonts */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/*
  Typographic tweaks!
  Add accessible line-height
  Improve text rendering
*/
html {
  font-size: 62.5%;
}

* {
  font-family: "form", sans-serif;
  font-size: 1.6rem;
  color: #000;
  line-height: 1.3;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  overflow-wrap: break-word;
}

/* Remove built-in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
}

/* Create a root stacking context */
#root,
#__next {
  isolation: isolate;
}

input[type=number] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus {
  -webkit-text-fill-color: #000;
  box-shadow: 0 0 0px 1000px #fff inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}
input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

ul,
ol {
  padding: 0;
  margin: 0;
}
ul[role=list],
ol[role=list] {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before,
q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

pre {
  font-family: "form", sans-serif;
  -moz-tab-size: 2;
    -o-tab-size: 2;
       tab-size: 2;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  background-color: var(--bg-secondary);
  scrollbar-color: light;
  scrollbar-width: thin;
  scrollbar-color: var(--white) transparent;
}
body::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  height: 7px;
}
body::-webkit-scrollbar-button, body::-webkit-scrollbar-corner {
  display: none;
}
body::-webkit-scrollbar-thumb {
  background-color: transparent;
  min-width: 32px;
  min-height: 32px;
  border-radius: 5px;
}
body::-webkit-scrollbar-track {
  background: transparent;
}
body:hover::-webkit-scrollbar-thumb {
  background-color: rgba(var(--white-rgb), 0.25);
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(var(--text-primary-rgb), 0.4);
}

.mh-100 {
  min-height: 100%;
}

.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  font-weight: 400;
  font-size: 13px;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 6px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: all 0.3s ease-in-out;
}
.btn:disabled, .btn.disabled, .btn[aria-disabled=true] {
  cursor: default;
}
.btn svg * {
  transition: all 0.4s;
}
.btn-primary {
  background-color: var(--primary-dark);
}
.btn-primary:hover {
  background-color: var(--Interactive-primary-hover);
}

.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-column {
  flex-direction: column;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.flex-align-stretch {
  align-items: stretch;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: start;
}

.align-items-end {
  align-items: end;
}

.align-items-baseline {
  align-items: baseline;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.flex-fit {
  min-width: 0;
  flex: 1 1 0%;
}

.font-family-primary {
  font-family: "form", sans-serif;
}

.font-body-xs {
  font-weight: 400;
  font-size: 12px;
  color: var(--text-secondary);
  line-height: 1.3;
}

.font-body-normal {
  font-weight: 400;
  font-size: 13px;
  color: var(--text-primary);
  line-height: 1.3;
}

.font-body-small {
  font-weight: 400;
  font-size: 14px;
  color: var(--text-primary);
  line-height: 1.3;
}

.font-body-medium {
  font-weight: 500;
  font-size: 16px;
  color: var(--text-primary);
  line-height: 1.3;
}

.font-title-xs {
  font-weight: 500;
  font-size: 18px;
  color: var(--text-primary);
  line-height: 1.3;
}

.font-title-small {
  font-weight: 600;
  font-size: 26px;
  color: var(--text-primary);
  line-height: 1.3;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.font-weight-300 {
  font-weight: 300;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-700 {
  font-weight: 700;
}

.line-height-12 {
  line-height: 1.2;
}

.line-height-13 {
  line-height: 1.3;
}

.line-height-14 {
  line-height: 1.4;
}

.line-height-15 {
  line-height: 1.5;
}

.font-color-primary {
  color: var(--text-primary);
}

.font-color-secondary {
  color: var(--text-secondary);
}

.font-color-tertiary {
  color: var(--secondary);
}

.font-color-accent {
  color: var(--primary-dark);
}

.p-0 {
  padding: 0 !important;
}

.m-0 {
  margin: 0 !important;
}

.column-gap-0 {
  -moz-column-gap: 0 !important;
       column-gap: 0 !important;
}

.column-gap-2 {
  -moz-column-gap: 2px !important;
       column-gap: 2px !important;
}

.column-gap-4 {
  -moz-column-gap: 4px !important;
       column-gap: 4px !important;
}

.column-gap-8 {
  -moz-column-gap: 8px !important;
       column-gap: 8px !important;
}

.column-gap-12 {
  -moz-column-gap: 12px !important;
       column-gap: 12px !important;
}

.column-gap-16 {
  -moz-column-gap: 16px !important;
       column-gap: 16px !important;
}

.column-gap-18 {
  -moz-column-gap: 18px !important;
       column-gap: 18px !important;
}

.column-gap-20 {
  -moz-column-gap: 20px !important;
       column-gap: 20px !important;
}

.column-gap-24 {
  -moz-column-gap: 24px !important;
       column-gap: 24px !important;
}

.column-gap-28 {
  -moz-column-gap: 28px !important;
       column-gap: 28px !important;
}

.column-gap-32 {
  -moz-column-gap: 32px !important;
       column-gap: 32px !important;
}

.column-gap-36 {
  -moz-column-gap: 36px !important;
       column-gap: 36px !important;
}

.column-gap-40 {
  -moz-column-gap: 40px !important;
       column-gap: 40px !important;
}

.row-gap-0 {
  row-gap: 0 !important;
}

.row-gap-2 {
  row-gap: 2px !important;
}

.row-gap-4 {
  row-gap: 4px !important;
}

.row-gap-8 {
  row-gap: 8px !important;
}

.row-gap-12 {
  row-gap: 12px !important;
}

.row-gap-16 {
  row-gap: 16px !important;
}

.row-gap-18 {
  row-gap: 18px !important;
}

.row-gap-20 {
  row-gap: 20px !important;
}

.row-gap-24 {
  row-gap: 24px !important;
}

.row-gap-28 {
  row-gap: 28px !important;
}

.row-gap-32 {
  row-gap: 32px !important;
}

.row-gap-36 {
  row-gap: 36px !important;
}

.row-gap-40 {
  row-gap: 40px !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pt-2 {
  padding-top: 2px !important;
}

.pr-2 {
  padding-right: 2px !important;
}

.pb-2 {
  padding-bottom: 2px !important;
}

.pl-2 {
  padding-left: 2px !important;
}

.pt-4 {
  padding-top: 4px !important;
}

.pr-4 {
  padding-right: 4px !important;
}

.pb-4 {
  padding-bottom: 4px !important;
}

.pl-4 {
  padding-left: 4px !important;
}

.pt-8 {
  padding-top: 8px !important;
}

.pr-8 {
  padding-right: 8px !important;
}

.pb-8 {
  padding-bottom: 8px !important;
}

.pl-8 {
  padding-left: 8px !important;
}

.pt-12 {
  padding-top: 12px !important;
}

.pr-12 {
  padding-right: 12px !important;
}

.pb-12 {
  padding-bottom: 12px !important;
}

.pl-12 {
  padding-left: 12px !important;
}

.pt-16 {
  padding-top: 16px !important;
}

.pr-16 {
  padding-right: 16px !important;
}

.pb-16 {
  padding-bottom: 16px !important;
}

.pl-16 {
  padding-left: 16px !important;
}

.pt-18 {
  padding-top: 18px !important;
}

.pr-18 {
  padding-right: 18px !important;
}

.pb-18 {
  padding-bottom: 18px !important;
}

.pl-18 {
  padding-left: 18px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pr-20 {
  padding-right: 20px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.pl-20 {
  padding-left: 20px !important;
}

.pt-24 {
  padding-top: 24px !important;
}

.pr-24 {
  padding-right: 24px !important;
}

.pb-24 {
  padding-bottom: 24px !important;
}

.pl-24 {
  padding-left: 24px !important;
}

.pt-28 {
  padding-top: 28px !important;
}

.pr-28 {
  padding-right: 28px !important;
}

.pb-28 {
  padding-bottom: 28px !important;
}

.pl-28 {
  padding-left: 28px !important;
}

.pt-32 {
  padding-top: 32px !important;
}

.pr-32 {
  padding-right: 32px !important;
}

.pb-32 {
  padding-bottom: 32px !important;
}

.pl-32 {
  padding-left: 32px !important;
}

.pt-36 {
  padding-top: 36px !important;
}

.pr-36 {
  padding-right: 36px !important;
}

.pb-36 {
  padding-bottom: 36px !important;
}

.pl-36 {
  padding-left: 36px !important;
}

.pt-40 {
  padding-top: 40px !important;
}

.pr-40 {
  padding-right: 40px !important;
}

.pb-40 {
  padding-bottom: 40px !important;
}

.pl-40 {
  padding-left: 40px !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.mt-2 {
  margin-top: 2px !important;
}

.mr-2 {
  margin-right: 2px !important;
}

.mb-2 {
  margin-bottom: 2px !important;
}

.ml-2 {
  margin-left: 2px !important;
}

.mt-4 {
  margin-top: 4px !important;
}

.mr-4 {
  margin-right: 4px !important;
}

.mb-4 {
  margin-bottom: 4px !important;
}

.ml-4 {
  margin-left: 4px !important;
}

.mt-8 {
  margin-top: 8px !important;
}

.mr-8 {
  margin-right: 8px !important;
}

.mb-8 {
  margin-bottom: 8px !important;
}

.ml-8 {
  margin-left: 8px !important;
}

.mt-12 {
  margin-top: 12px !important;
}

.mr-12 {
  margin-right: 12px !important;
}

.mb-12 {
  margin-bottom: 12px !important;
}

.ml-12 {
  margin-left: 12px !important;
}

.mt-16 {
  margin-top: 16px !important;
}

.mr-16 {
  margin-right: 16px !important;
}

.mb-16 {
  margin-bottom: 16px !important;
}

.ml-16 {
  margin-left: 16px !important;
}

.mt-18 {
  margin-top: 18px !important;
}

.mr-18 {
  margin-right: 18px !important;
}

.mb-18 {
  margin-bottom: 18px !important;
}

.ml-18 {
  margin-left: 18px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.mt-24 {
  margin-top: 24px !important;
}

.mr-24 {
  margin-right: 24px !important;
}

.mb-24 {
  margin-bottom: 24px !important;
}

.ml-24 {
  margin-left: 24px !important;
}

.mt-28 {
  margin-top: 28px !important;
}

.mr-28 {
  margin-right: 28px !important;
}

.mb-28 {
  margin-bottom: 28px !important;
}

.ml-28 {
  margin-left: 28px !important;
}

.mt-32 {
  margin-top: 32px !important;
}

.mr-32 {
  margin-right: 32px !important;
}

.mb-32 {
  margin-bottom: 32px !important;
}

.ml-32 {
  margin-left: 32px !important;
}

.mt-36 {
  margin-top: 36px !important;
}

.mr-36 {
  margin-right: 36px !important;
}

.mb-36 {
  margin-bottom: 36px !important;
}

.ml-36 {
  margin-left: 36px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mr-40 {
  margin-right: 40px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.ml-40 {
  margin-left: 40px !important;
}

.mt-auto {
  margin-top: auto !important;
}

.mr-auto {
  margin-right: auto !important;
}

.mb-auto {
  margin-bottom: auto !important;
}

.ml-auto {
  margin-left: auto !important;
}

.bg-primary {
  background-color: var(--bg-secondary);
}

.bg-secondary {
  background-color: var(--bg-primary);
}

.font-hover-primary {
  transition: color 0.4s;
}
.font-hover-primary:hover {
  color: var(--primary-dark);
}

.row {
  --row-gutter: 24px;
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--row-gutter);
  margin: 0 calc(-1 * var(--row-gutter) / 2);
}
.row [class*=row-col] {
  flex: 1 0 0%;
  min-width: 0;
  margin: 0 calc(var(--row-gutter) / 2);
}
.row .row-col-1 {
  flex: 0 0 calc(8.3333333333% * 1 - var(--row-gutter));
  max-width: calc(8.3333333333% * 1 - var(--row-gutter));
}
.row .row-col-2 {
  flex: 0 0 calc(8.3333333333% * 2 - var(--row-gutter));
  max-width: calc(8.3333333333% * 2 - var(--row-gutter));
}
.row .row-col-3 {
  flex: 0 0 calc(8.3333333333% * 3 - var(--row-gutter));
  max-width: calc(8.3333333333% * 3 - var(--row-gutter));
}
.row .row-col-4 {
  flex: 0 0 calc(8.3333333333% * 4 - var(--row-gutter));
  max-width: calc(8.3333333333% * 4 - var(--row-gutter));
}
.row .row-col-5 {
  flex: 0 0 calc(8.3333333333% * 5 - var(--row-gutter));
  max-width: calc(8.3333333333% * 5 - var(--row-gutter));
}
.row .row-col-6 {
  flex: 0 0 calc(8.3333333333% * 6 - var(--row-gutter));
  max-width: calc(8.3333333333% * 6 - var(--row-gutter));
}
.row .row-col-7 {
  flex: 0 0 calc(8.3333333333% * 7 - var(--row-gutter));
  max-width: calc(8.3333333333% * 7 - var(--row-gutter));
}
.row .row-col-8 {
  flex: 0 0 calc(8.3333333333% * 8 - var(--row-gutter));
  max-width: calc(8.3333333333% * 8 - var(--row-gutter));
}
.row .row-col-9 {
  flex: 0 0 calc(8.3333333333% * 9 - var(--row-gutter));
  max-width: calc(8.3333333333% * 9 - var(--row-gutter));
}
.row .row-col-10 {
  flex: 0 0 calc(8.3333333333% * 10 - var(--row-gutter));
  max-width: calc(8.3333333333% * 10 - var(--row-gutter));
}
.row .row-col-11 {
  flex: 0 0 calc(8.3333333333% * 11 - var(--row-gutter));
  max-width: calc(8.3333333333% * 11 - var(--row-gutter));
}
.row .row-col-12 {
  flex: 0 0 calc(8.3333333333% * 12 - var(--row-gutter));
  max-width: calc(8.3333333333% * 12 - var(--row-gutter));
}
.row-cols-1 .row-col {
  flex: 0 0 auto;
  width: calc(100% / 1 - var(--row-gutter));
}
.row-cols-2 .row-col {
  flex: 0 0 auto;
  width: calc(100% / 2 - var(--row-gutter));
}
.row-cols-3 .row-col {
  flex: 0 0 auto;
  width: calc(100% / 3 - var(--row-gutter));
}
.row-cols-4 .row-col {
  flex: 0 0 auto;
  width: calc(100% / 4 - var(--row-gutter));
}
.row-cols-5 .row-col {
  flex: 0 0 auto;
  width: calc(100% / 5 - var(--row-gutter));
}
.row-cols-6 .row-col {
  flex: 0 0 auto;
  width: calc(100% / 6 - var(--row-gutter));
}
.row-cols-7 .row-col {
  flex: 0 0 auto;
  width: calc(100% / 7 - var(--row-gutter));
}
.row-cols-8 .row-col {
  flex: 0 0 auto;
  width: calc(100% / 8 - var(--row-gutter));
}
.row-cols-9 .row-col {
  flex: 0 0 auto;
  width: calc(100% / 9 - var(--row-gutter));
}
.row-cols-10 .row-col {
  flex: 0 0 auto;
  width: calc(100% / 10 - var(--row-gutter));
}
.row-cols-11 .row-col {
  flex: 0 0 auto;
  width: calc(100% / 11 - var(--row-gutter));
}
.row-cols-12 .row-col {
  flex: 0 0 auto;
  width: calc(100% / 12 - var(--row-gutter));
}
.row.row-gutter-8 {
  --row-gutter: 8px;
}
.row.row-gutter-16 {
  --row-gutter: 16px;
}
.row.row-gutter-20 {
  --row-gutter: 20px;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

:root {
  font-family: "form", sans-serif;
  --header-bg-dark: url("./assets/images/svg/SVG/Asset 11.svg");
  --header-bg-light: url("./assets/images/svg/SVG/Asset 12.svg");
}

.registration-wrapper {
  min-height: 100dvh;
  display: grid;
  justify-content: space-between;
  background-color: var(--primary);
  grid-template-columns: 1fr 1fr;
}
@media only screen and (max-width: 767px) {
  .registration-wrapper {
    position: absolute;
    flex-direction: column-reverse;
    min-height: 0dvh;
  }
}

.hp-logo {
  max-width: 350px;
  min-width: 350px;
}
@media only screen and (max-width: 767px) {
  .hp-logo {
    display: none;
  }
}

.register-img {
  min-height: 100%;
  overflow: hidden;
  max-width: 100%;
  align-items: flex-start;
  justify-content: center;
  display: flex;
}

.register-image {
  min-height: 100%;
  width: auto;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
  transform: scale(1.14);
  transform-origin: center;
}
@media only screen and (max-width: 767px) {
  .register-image {
    display: none;
  }
}

.form-wrapper {
  position: relative;
  padding: 0 14px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 1127px) {
  .form-wrapper {
    padding-left: 30px;
  }
}

.login-title {
  color: var(--tertiary);
  font-size: 26px;
  font-weight: 600;
  display: flex;
  justify-content: start;
}
@media only screen and (max-width: 767px) {
  .login-title {
    font-size: 20px;
  }
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: var(--tertiary);
}
@media only screen and (max-width: 767px) {
  .form-group label {
    font-size: 16px;
  }
}

.form-group input {
  width: 100%;
  min-width: 300px;
  padding: 8px;
  box-sizing: border-box;
  background-color: var(--tertiary-light);
  border: 1px solid var(--secondary-light);
  color: var(--tertiary);
  outline: none;
  border-radius: 6px;
}

.form-group button {
  padding: 10px 40px;
  background-color: var(--secondary);
  color: var(--tertiary-light);
  font-weight: 600;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  margin-top: 20px;
}

.form-group button:hover {
  background-color: var(--secondary-dark);
}

.forgot-password {
  color: var(--tertiary);
  text-decoration: underline;
  transition: all 0.4s ease-in-out;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  margin-bottom: 60px;
}
.forgot-password:hover {
  text-decoration: none;
}

.reset-password,
.sign-password {
  color: var(--tertiary);
  text-decoration: underline;
  transition: all 0.4s ease-in-out;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  margin-bottom: 8px;
}
.reset-password:hover,
.sign-password:hover {
  text-decoration: none;
}

.login {
  padding-top: 0;
  padding-bottom: 20px;
}

.registration-resp {
  position: relative;
  display: none;
}
@media only screen and (max-width: 767px) {
  .registration-resp {
    display: block;
  }
}

.resp-svg {
  position: relative;
  top: -18px;
  max-width: 100%;
  z-index: 9999;
}

.hp-logo-resp {
  max-width: 200px;
  min-width: 200px;
}
@media screen and (max-width: 505px) {
  .hp-logo-resp {
    max-width: 160px;
    min-width: 160px;
  }
}

.logo-text {
  font-size: 20px;
  font-weight: 500;
  margin-right: 20px;
  border-bottom: 2px solid var(--tertiary);
  color: var(--tertiary);
}
@media screen and (max-width: 505px) {
  .logo-text {
    font-size: 16px;
    margin-right: 18px;
  }
}

.logo-wrapper {
  background-color: var(--primary);
}

.header-logo-wrapper {
  position: relative;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
}

.resp-svg-header {
  position: absolute;
  bottom: 0;
  left: -95px;
  transform: scale(1.15);
  transform-origin: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.hp-logo-header {
  max-width: 30px;
  min-width: 300px;
}
@media screen and (max-width: 757px) {
  .hp-logo-header {
    max-width: 160px;
    min-width: 160px;
  }
}

.header-logo-text {
  font-size: 32px;
  font-weight: 500;
  margin-right: 40px;
  color: var(--tertiary);
}
@media screen and (max-width: 856px) {
  .header-logo-text {
    font-size: 26px;
    margin-right: 18px;
  }
}
@media screen and (max-width: 757px) {
  .header-logo-text {
    font-size: 16px;
    margin-right: 18px;
  }
}
@media screen and (max-width: 400px) {
  .header-logo-text {
    font-size: 13px;
    margin-right: 8px;
  }
}

.header-svg {
  height: 244px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}/*# sourceMappingURL=main.css.map */