:root {
  font-family: 'form', sans-serif;
  --header-bg-dark: url("./assets/images/svg/SVG/Asset 11.svg");
  --header-bg-light: url("./assets/images/svg/SVG/Asset 12.svg");
}

.registration-wrapper {
  min-height: 100dvh;
  display: grid;
  justify-content: space-between;
  background-color: var(--primary);
  grid-template-columns: 1fr 1fr;

  @include mq(phone) {
    position: absolute;
    flex-direction: column-reverse;
    min-height: 0;
  }
}

.hp-logo {
  max-width: 350px;
  min-width: 350px;

  @include mq(phone) {
    display: none;
  }
}

.register-img {
  min-height: 100%;
  overflow: hidden;
  max-width: 100%;
  align-items: flex-start;
  justify-content: center;
  display: flex;
}

.register-image {
  min-height: 100%;
  width: auto;
  height: 100%;
  object-fit: cover;
  object-position: left;
  transform: scale(1.14);
  transform-origin: center;

  @include mq(phone) {
    display: none;
  }
}

.form-wrapper {
  position: relative;
  padding: 0 14px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (max-width: 1127px) {
    padding-left: 30px;
  }

  // @media screen and (max-width: 767px) {
  //   padding-top: 55%;
  // }
}


.login-title {
  color: var(--tertiary);
  font-size: 26px;
  font-weight: 600;
  display: flex;
  justify-content: start;

  @include mq(phone) {
    font-size: 20px;
  }
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: var(--tertiary);

  @include mq(phone) {
    font-size: 16px;
  }
}

.form-group input {
  width: 100%;
  min-width: 300px;
  padding: 8px;
  box-sizing: border-box;
  background-color: var(--tertiary-light);
  border: 1px solid var(--secondary-light);
  color: var(--tertiary);
  outline: none;
  border-radius: 6px;
}

.form-group button {
  padding: 10px 40px;
  background-color: var(--secondary);
  color: var(--tertiary-light);
  font-weight: 600;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  margin-top: 20px;
}

.form-group button:hover {
  background-color: var(--secondary-dark);
}

.forgot-password {
  color: var(--tertiary);
  text-decoration: underline;
  transition: all .4s ease-in-out;
  width: fit-content;
  cursor: pointer;
  margin-bottom: 60px;

  &:hover {
    text-decoration: none;
  }
}

.reset-password,
.sign-password {
  color: var(--tertiary);
  text-decoration: underline;
  transition: all .4s ease-in-out;
  width: fit-content;
  cursor: pointer;
  margin-bottom: 8px;

  &:hover {
    text-decoration: none;
  }
}

.login {
  padding-top: 0;
  padding-bottom: 20px;
}

.registration-resp {
  position: relative;
  display: none;

  @include mq(phone) {
    display: block;
  }
}

.resp-svg {
  position: relative;
  top: -18px;
  max-width: 100%;
  z-index: 9999;

  // @media screen and (max-width: 505px) {
  //   top: 70px;
  // }
}

.hp-logo-resp {
  max-width: 200px;
  min-width: 200px;

  @media screen and (max-width: 505px) {
    max-width: 160px;
    min-width: 160px;
  }
}

.logo-text {
  font-size: 20px;
  font-weight: 500;
  margin-right: 20px;
  border-bottom: 2px solid var(--tertiary);
  color: var(--tertiary);

  @media screen and (max-width: 505px) {
    font-size: 16px;
    margin-right: 18px;
  }
}

// .img-1 {
//   display: block;

//   @media screen and (max-width: 1400px) {
//     display: none;
//   }

//   @include mq(phone) {
//     display: none;
//   }
// }

// .img-2 {
//   display: none;

//   @media screen and (max-width: 1400px) {
//     display: block;
//   }

//   @include mq(phone) {
//     display: none;
//   }
// }
.logo-wrapper {
  background-color: var(--primary);

}

.header-logo-wrapper {
  position: relative;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
}

.resp-svg-header {
  position: absolute;
  bottom: 0;
  left: -95px;
  transform: scale(1.15);
  transform-origin: center;
  object-fit: cover;
}

//   @media screen and (max-width: 1390p) {
//     left: -85px;
//     top: 10px
//   }

//   @media screen and (max-width: 1048px) {
//     left: -55px;
//     top: 20px;
//   }

//   @media screen and (max-width: 854px) {
//     top: 20px;
//     left:-45px
//   }

//   @media screen and (max-width: 600px) {
//     top: 20px;
//     left: -25px;
//   }
// }

.hp-logo-header {
  max-width: 30px;
  min-width: 300px;

  @media screen and (max-width: 757px) {
    max-width: 160px;
    min-width: 160px;
  }
}

.header-logo-text {
  font-size: 32px;
  font-weight: 500;
  margin-right: 40px;
  color: var(--tertiary);


  @media screen and (max-width: 856px) {

    font-size: 26px;
    margin-right: 18px;
  }


  @media screen and (max-width: 757px) {
    font-size: 16px;
    margin-right: 18px;
  }

  @media screen and (max-width: 400px) {
    font-size: 13px;
    margin-right: 8px;

  }
}

//
// 
// 
.header-svg {
  height: 244px;
  // align-items: center;
  // justify-content: center;
  // color: white;
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: center;
}